@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700');

body {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background: linear-gradient(#F05A2A,#E60C88)
}

#login_registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

#login_registration form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

#lr_logo {
    width: 90%;
    margin-top: 20vh;
    max-width: 500px;
    margin-bottom: 5vh;
    height: 10vh;
}

#login_selector {
    font-size: 18pt;
    margin: 10px;
}

a.selector {
    padding: 10px;
    font-weight: 100;
    color: white;
    text-decoration: none;
}

a.selector.selected {
    font-weight: bold;
}

.form_error {
    display: block;
    margin-left: 10px;
}

input.lr {
    display: block;
    margin: 10px;
    background-color: rgba(0,0,0,0.1);
    border: none;
    color: white;
    font-size: 16pt;
    padding: 10px;
}

input.lr::placeholder {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16pt;
    color: white;
}

input[type="submit"].lr {
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16pt;
    font-weight: bold;
    color: #d53d6c;
    cursor: pointer;
}

input[disabled].lr {
    opacity: 0.5;
}

#forgot {
    text-align: center;
    width: 100%;
    font-size: 12pt;
    padding-top: 10px;
    color: white;
    text-decoration: none;
}

#application {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

#header {
    width: 80vw;
    max-width: 1000px;
    margin-top: 20px;
    font-size: 38pt;
    font-weight: lighter;
    font-family: 'Ubuntu', sans-serif;
    font-variant: small-caps;
}

#application_form {
    background-color: white;
    width: 80vw;
    max-width: 1000px;
    padding: 10px;
}

.page {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.wrapper {
    width: 50%;
    min-width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.wrapper.essay {
    width: 100%;
}

input.app, textarea.app {
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14pt;
    padding: 5px 10px;
}

label.app {
    color: #E60C88;
    display: block;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 14pt;
}

#buttons {
    display: flex;
    justify-content: space-around;
}

#buttons input {
    width: 300px;
    height: 50px;
    background-color: white;
    border: 2px solid #E60C88;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16pt;
    font-weight: bold;
    color: #E60C88;
    cursor: pointer;
}